#whole-page{
    position: relative;
}

#header{
    position: fixed;
    z-index: 999;
    width: 100%;
}

#nav-menu-colors{
    color: black;
}

#navbarDropdown{
    color: black;
}

#navbarSupportedContent .row{
    width: 100%;
}

.carousel-inner{
    width: auto;
}

.carousel-inner img{
    width: 960px;
    height: 480px;
}

#menu-logo img{
    height: 30px;
    width: 30px;
}

#Second-row-heading{
    display: block;
}

.card-button{
    margin: 0px 0px 20px 20px;
}

.card-button .btn-outline-warning{
    border-color: #D92128;
    color:  #D92128;
}

.card-button .btn-outline-warning:hover{
    color: white;
    background-color:  #D92128;
    border-color:  #D92128;
}

#section-headers{
    font-size: 32px;
}

#erm-section .card img{
    height: 250px;
    opacity: 0.60;
}

#erm-section .card img:hover{
    opacity: 1;
}

#erm-section .row{
    margin-bottom: 20px;
}

#erm-section .col-sm-4 .card{
    border: none;
}

#footer{
    height: 90px;
    background-color: rgb(75, 74, 74);
    display: flex;
}


